.hamburger {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: 1rem;
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 200;
}

.x {
  position: fixed;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
