.about {
  text-align: center;
}

.contact {
  margin: 4rem 0 2rem 0;
}

.linkIcon {
  font-size: 1.5rem;
}

.linkIcon:active {
  color: var(--secondary);
}

@media screen and (min-width: 768px) {
  .linkIcon:hover {
    color: var(--secondary);
  }
}
