.about {
  text-align: center;
}

.contact {
  margin: 4rem 0 2rem 0;
}

.linkIcon,
.linkIcon:active,
.linkIcon:hover {
  color: var(--primary);
  font-size: 1.5rem;
}

.linkIcon:hover {
  color: var(--secondary);
}