.navWrapper {
  width: 100%;
}

.navbar {
  display: none;
}

.open {
  align-items: center;
  background-color: var(--transparent90);
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  left: 0;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  top: 80px;
  width: 100%;
  z-index: 999;
}

.navBtn:hover {
  color: var(--secondary);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    gap: 3rem;
  }
}
