.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 4rem;
  padding: 20px;
  position: relative;
  width: 100%;
}

.logo {
  height: 50px;
}

.logo:hover {
  cursor: pointer;
}
